<h1 class="report"> Report </h1>
<p>
<%= @user.first_name %><br/>
<%= @user.last_name %><br/>

.................................
<br/>
<%= image_tag("https://static.pexels.com/photos/96918/pexels-photo-96918.jpeg", height: "100px") %>
</p>